/**************************** CSS Reset *****************************/

html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-family: "Lato", sans-serif;
}

/**************************** Login Page *****************************/

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  background: white;
  text-align: center;
  padding: 50px 0 50px 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin: 125px 0 0 0;
}

input {
  border: 1px solid black;
  height: 20px;
  margin: 10px;
}

button {
  height: 30px;
  width: 50px;
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
}

button:hover {
  background: white;
  color: black;
}

/**************************** NavBar *****************************/

header {
  background: black;
  width: 100%;
  padding: 30px 0 30px 0;
  text-align: center;
}

ul li a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
}

li {
  margin: 20px 10px 10px 10px;
}

li:hover {
  text-decoration: underline;
}

.logOut {
  right: 5%;
  height: 30px;
  width: 80px;
  background: black;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  margin: 40px 10px 10px 10px;
}

.logOut:hover {
  background: white;
  color: black;
}

/**************************** Hamburger *****************************/

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/**************************** Order Page *****************************/
h1{
  text-align: center;
}
.order-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto 50px auto;
  width: 60vw;
}

.menu {
  text-align: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 20px 0 0 0;
}

form {
  display: flex;
  flex-direction: column;
}

.order-options {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 50px 50px 50px 50px;
  margin: 20px 0 0 0;
  width: 60vw;
}

.order-btn {
  height: 40px;
  width: 100px;
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 0 0 0;
}

select {
  margin: 5px;
}

.order-buttons {
  text-align: center;
}

.order-confirmation-results {
  margin: 20px 0 0 0;
}

hr {
  border: black 0.5px solid;
}

.order-placed {
  text-align: center;
  width: 200px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin: 20px auto;
}

.day-dropdown {
  margin-top: 20px;
}

/**************************** Order Page New Elements *****************************/

.item {
  text-align: left;
  width: 80vw;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin: 5px auto;
}

.itemPrice {
  float: right;
}

.order-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 20px 0 0 0;
  width: 85vw;
}

.Remove {
  height: 20px;
  width: 30px;
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1px;
  margin: 0 0 0 10px;
}

.place-order-btn {
  height: 40px;
  width: 100px;
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 0 0 0;
}

.results {
  text-align: center;
  width: 200px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin: 20px auto;
}

/**************************** Delivery Page *****************************/

.deliveryBoxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.current {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  background: white;
  text-align: center;
  padding: 20px 0 20px 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin: 25px 0 0 0;
}

.past {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  background: white;
  text-align: center;
  padding: 10px 0 25px 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin: 25px 0 0 0;
}

.pastData {
  width: 70vw;
  background: white;
  text-align: center;
  padding: 5px 0 5px 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin: 5px 0 0 0;
}

/**************************** Profile Page *****************************/

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
  background: white;
  text-align: center;
  padding: 25px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin: 40px 0 0 0;
}

.profileData {
  width: 60vw;
  background: white;
  text-align: center;
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin: 5px 0 20px 0;
}

.editProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profBtn {
  height: 30px;
  width: 60px;
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}

.profBtn:hover {
  background: white;
  color: black;
}

/**************************** Hide *****************************/

.hide {
  display: none;
}

/**************************** Choices *****************************/

.choices{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.choiceBtns{
  height: 50px;
  width: 80px;
  background:white;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  outline: none;
}
.choiceBtns:hover {
  background: black;
  color: white;
}
